
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Pengguna dapat membaca dan memperbarui data mereka sendiri.
    // Pengguna baru dapat membuat data mereka sendiri saat mendaftar.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Aturan untuk koleksi lain, hanya bisa diakses oleh pengguna yang sudah login
    // Sesuaikan ini sesuai dengan kebutuhan aplikasi Anda
    match /customers/{customerId} {
      allow read, write: if request.auth != null;
    }
    match /invoices/{invoiceId} {
      allow read, write: if request.auth != null;
    }
    match /payments/{paymentId} {
      allow read, write: if request.auth != null;
    }
    match /expenses/{expenseId} {
      allow read, write: if request.auth != null;
    }
    match /collectors/{collectorId} {
        allow read, write: if request.auth != null;
    }
    match /otherIncomes/{incomeId} {
        allow read, write: if request.auth != null;
    }
  }
}
